<div class="container module">
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control module__field" ng-model="mc.clicked">
            <button class="btn btn-primary" ng-click="mc.updateClick()">{{::mc.labelText}}</button>
            <label>You clicked {{mc.clicked}} times!</label>
        </div>
    </div>
    <br/>
    <p>Result: <span ng-bind="mc.clicked"></span> times.</p>
</div>